/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// TODO nf-core: Specify any additional parameters here
// Or any resources requirements
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    kraken_test_data_path = 'assets/test_data/kraken/'
    modules_smalltest_data_path = 'assets/test_data/small/'
    star_index = '/blue/kgraim/leslie.smith1/Repositories/Sepsis_Metagenomics/nf-core-sepsismetagenomics/star_indexT2T'
    genome_fasta = '/blue/kgraim/leslie.smith1/Repositories/Sepsis_Metagenomics/nf-core-sepsismetagenomics/reference_T2T/GCF_009914755.1_T2T-CHM13v2.0_genomic.fna'
    
    //pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/sepsismetagenomics/'
    // Local test data for custom modules
    // test_data {
    //     reads {
    //         paired {
    //             read_one = "${projectDir}/assets/test_data/small/K003_L1.sub.fastq.gz"
    //             read_two = "${projectDir}/assets/test_data/small/K003_L2.sub.fastq"
    //         }
    //         single {
    //             read_one = "${projectDir}/assets/test_data/small/K003_L1.sub.fastq.gz"
    //         }
    //     }
    //     index {
    //         star = "${projectDir}/assets/test_data/star_index"
    //     }
    // }
}

}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners

