/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/sepsismetagenomics -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Hipergator profile'
    config_profile_description = 'Module profiles for use on Hipergator with slurm'

    // Input data
    outdir                        = "${projectDir}/results"
    input                        = "${projectDir}/assets/all_sample_sheet.csv"
    genome_fasta                 = "${projectDir}/reference_T2T/GCF_009914755.1_T2T-CHM13v2.0_genomic.fna"
    star_index                   = "${projectDir}/star_indexT2T"
    kraken_db                    = "/data/reference/kraken2/k2_NCBI_reference_20251007"   
}

process {
    // resourceLimits = [
    //     cpus: 4,
    //     memory: '15.GB',
    //     time: '1.h'
    // ]
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'STAR' {
        module = 'parabricks/4.7.0'
        errorStrategy = 'ignore'
        cpus = 28
        memory = '256.GB'
        time = '8.h'
        clusterOptions = '--account=kgraim --partition=hpg-turin --gres=gpu:1'
    }

    withName: 'KRAKEN' {
        module = 'kraken/2'
        errorStrategy = 'ignore'
        cpus = 16
        memory = '600.GB'
        time = '10.h'
        ext.args = '--minimum-hit-groups 3 --report-minimizer-data'
    }

    withName: 'FASTQC' {
        module = 'fastqc/0.12.1'
        errorStrategy = 'ignore'
        memory = '5.GB'
        time = '8.h'
        ext.args = '--quiet'
    }

    withName: 'SRA_DOWNLOAD' {
        module = 'sra/3.2.1'
        errorStrategy = 'ignore'
        cpus = 2
        memory = '8.GB'
    }

     withName: 'MULTIQC' {
        module = 'multiqc/1.33'
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
//def trace_file = file("${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt")

executor {
    name = 'slurm'
    queueSize = 10
}


   
