/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/sepsismetagenomics -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
  //  input  = params.pipelines_testdata_base_path + 'viralrecon/samplesheet/samplesheet_test_illumina_amplicon.csv'// Genome references
    //genome = 'R64-1-1'
    input                        = "${projectDir}/assets/samplesheet.csv"
    pipelines_testdata_base_path = "${projectDir}/assets/test_data"
    genome_fasta                 = "${projectDir}/reference_T2T/GCF_009914755.1_T2T-CHM13v2.0_genomic.fna"
    star_index                   = "${projectDir}/star_indexT2T"
    kraken_db                    = "/data/reference/kraken2/k2_viral_20220607"   
}

process {
    // resourceLimits = [
    //     cpus: 4,
    //     memory: '15.GB',
    //     time: '1.h'
    // ]

    withName: 'STAR' {
        module = 'parabricks/4.7.0'
        errorStrategy = 'ignore'
        cpus = 28
        memory = '256.GB'
        time = '8.h'
        clusterOptions = '--account=kgraim --partition=hpg-turin --gres=gpu:1'
    }

    withName: 'KRAKEN' {
        module = 'kraken/2'
        cpus = 16
        errorStrategy = 'ignore'
    }

    withName: 'FASTQC' {
        module = 'fastqc/0.12.1'
        errorStrategy = 'ignore'
    }

    withName: 'SRA_DOWNLOAD' {
        module = 'sra/3.2.1'
        errorStrategy = 'ignore'
    }
    withName: 'MULTIQC' {
        module = 'multiqc/1.33'
        errorStrategy = 'ignore'
    }
}

executor {
    name = 'slurm'
    queueSize = 10
}
